:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --orange: #e59557;
  --green: #4cb6a0;
  --blue: #3180a0;
  --white: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
}

header h1 {
  padding-left: 10px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
}

.hero {
  background-image: url(../../images/universe.jpg);
  height: 250px;
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.hero h2 {
  position: absolute;
  color: var(--white);
  bottom: -10%;
  right: 5%;
  font-size: 40px;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  color: var(--white);
}

.nav-bar-item {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  color: var(--orange);
}

.nav-bar-item a {
  color: var(--white);
  text-decoration: none;
  font-size: 30px;
}

.section {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.title {
  margin-right: 50px;
  width: 20%;
  text-align: center;
}

.title h3 {
  font-size: 40px;
}

.info {
  border-left: 5px solid var(--blue);
  padding-left: 20px;
  flex-wrap: wrap;
  width: 80%;
}

.about-me-info {
  display: flex;
  flex-direction: column;
}
.work {
  display: flex;
  justify-content: space-evenly;
}

.work-item {
  display: flex;
  position: relative;
  border: 7px solid var(--orange);
  height: 150px;
  object-fit: contain;
  flex: 1 1 45%;
  flex-wrap: wrap;
  margin: 1%;
}

.work-item:hover {
  filter: brightness(150%);
  cursor: pointer;
}

.work1 {
  background-image: url(../../images/wave.jpeg);
  background-size: cover;
  flex: 1 1 90%;
  height: 230px;
}

.work2 {
  background-image: url(../../images/LED-Wall.png);
  background-size: cover;
}
.work3 {
  background-image: url(../../images/calculator.jpeg);
  background-size: cover;
}
.work4 {
  background-image: url(../../images/pastel-puzzle.jpeg);
  background-size: cover;
}
.work5 {
  background-image: url(../../images/running.jpeg);
  background-size: cover;
}

.work-desc {
  border: var(--orange);
  background-color: var(--orange);
  position: absolute;
  bottom: 20%;
  padding: 0 20px;
  text-align: center;
}

.contact-me-items {
  display: flex;
  flex-direction: row;
}

.contact-me-item {
  display: flex;
  justify-content: space-between;
  margin-right: 25px;
  color: black;
  text-decoration: none;
  font-size: 25px;
}

.contact-me-item a {
    text-decoration: none;
    color: black;
}

.contact-me-item > p, .contact-me-item > a {
    border-bottom: 5px solid var(--blue);
}

/* updates layout to wrap elements by column and changes border from left to bottom  */
@media screen and (max-width: 992px) {
  header {
    flex-direction: column;
    height: auto;
  }

  header h1 {
    border-bottom: 5px solid var(--white);
    padding-left: 0;
  }

  .nav-bar {
    flex-direction: column;
  }

  .hero h2 {
  align-self: center;
  }

  .section {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .title {
    width: 100%;
    border-bottom: 5px solid var(--blue);
    margin-bottom: 5px;
  }

  .info {
    width: 100%;
    border-left: 0;
    padding-left: 0;
  }

  .contact-me-items {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .contact-me-item a {
      align-content: center;
  }

}

/*updates work cards to all be the same size and stacked*/
@media screen and (max-width: 768px) {
  .work1 {
    height: 150px;
  }
}
